.titulo-portfolios{
    text-align: center;
}
.texto-sobremi{
    text-align: justify;
    line-height: 2.0;
}
.img-sobre-mi{
    text-align: center;
}
.texto-titulos-grados{
    
    line-height: 2.0;
}
.texto-estudios{
    text-align: justify;
}